<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
 
body{
    text-align: center;    
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #8ac640;
    font-size: 3.5em;
}
 
</style>
{% endblock %}
 
</head>
<body>

 {% block body %}{% endblock %}
 <br><br>
</body>

<footer style="text-align: left">
  <p>Created by: Emily Venuto, Philip Leung</p>
  <p>SUNY New Paltz, Embedded Linux, Spring 2018</p>
</footer>

</html>
