{% extends "layout.html" %}
{% block title %}Show Pics{% endblock %}

{% block body %}

<div class="block1">
<p>View all pics taken so far.</p>

<table>
  {% for row in rows %}
    <tr>
      <td><img src="{{ url_for('static', filename='') }}{{ row["picPath"] }}" height="100" width="100"></td>
      <td>{{row["datetime"]}}</td>
      <td>
        <a href="removePic/{{ row["picPath"] }}">Remove</a>

        <!--<form action="/removePic" method="POST">
          <input type="hidden" value="{{ row["picPath"] }}"/>
          <button id="delete">Remove</button>
        </form>-->
      </td>
    </tr>
  {% endfor %}
</table>

</div>

<a href="/">Return to home page</a>

{% endblock %}

