'{% extends "layout.html" %}
{% block title %}Show Pics{% endblock %}

{% block body %}

<div class="block1">
<div class="container-fluid">
  <h1>View all pics taken so far.</h1>
    <div class="row">
    {% for row in rows %}

      <div class="col-sm-4"><img src="{{ url_for('static', filename='') }}{{ row["picPath"] }}" height="100" width="100">
      <br>
      {{row["datetime"]}}
      <hr>  
    </div> 
    {% endfor %}
    </div>
 
</div>

</div>

<input type="button" class="btn btn-primary" onClick="location.href='/'" value="Return to homepage">

{% endblock %}

