{% extends "layout.html" %}
{% block title %}Show Pics{% endblock %}

{% block body %}

<div class="container">
  <div class="jumbotron" style="background-color:#00F3FF">
    <h1>View all pics taken so far.</h1>
  </div>
</div>


<div class="block1">
<div class="container-fluid">
    <div class="row">
    {% for row in rows %}

      <div class="col-sm-4"><img src="{{ url_for('static', filename='') }}{{ row["picPath"] }}" height="200" width="200">
      <br>
      {{row["datetime"]}}
      <br>
      <a href="{{ url_for('showPics') }}/{{ row["picPath"] }}">Remove</a>
      <hr>  
    </div> 
    {% endfor %}
    </div>
 
</div>

</div>

<input type="button" class="btn btn-primary" onClick="location.href='/'" value="Return to homepage"
       style="background-color: black; text: white">

{% endblock %}
