{% extends "layout.html" %}
{% block title %}Take Pic{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block body %}

<div class="container">
  <div class="jumbotron">
    <h1>Let's take some pictures with Pi Camera!</h1>      
    <p>Use the buttons below to move the servos to your desired location.
    When you are happy with the camera location, capture an image!
    </p>
  </div>      
</div>

 <div class="block1">
 <table align="center" class="style1">
  <tr>
    <td colspan="2" style="text-align:center">
      <hr>
      <h3>Move the servos:</h3>
      <table align="center" class="style1">
		<tr>
		<td colspan="2" style="text-align:center">
		     <h4> PAN Angle: <a href="/pan/-"class="button">-</a> [ {{ panServoAngle }} ] <a href="/pan/+"class="button">+</a></h4>
                     <hr>
		</td>
                 
		</tr>
		<tr>
                <td colspan="2" style="text-align:center">
                     <h4> TILT Angle: <a href="/tilt/-"class="button">-</a> [ {{ tiltServoAngle }} ] <a href="/tilt/+"class="button">+</a></h4>
		     <hr>
                 
                 </td>
               </tr>
	
	</table>	


      <hr>
    </td>
  </tr>
</table>

<h3>Take some pictures!</h3>
 <div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
     <input type="button" class="btn btn-primary btn-block" onClick="location.href='{{ url_for('takePic') }}'" value="Capture an image">
     <input type="button" class="btn btn-primary btn-block" onClick="location.href='{{ url_for('showPics') }}'" value="View all pictures taken">
   </div>
  <div class="col-sm-4"></div>
 </div>

</div>

{% endblock %}



