{% extends "layout.html" %}
{% block title %}Take Pic{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block body %}

<div class="block1">

<p>Enter a value to move servo</p>
<a href="{{ url_for('moveServo') }}">MoveServo</a>

<!--
<form action="/moveServo">
Pan:
<input type="number" name="pan">
Tilt:
<input type="number" name="tilt">
</form>
-->
<p>When you are happy with the camera location, 
click this button to capture an image!</p>
<a href="{{ url_for('takePic') }}" onClick="success()" >Capture an image</a><br><br>
<a href="{{ url_for('showPics') }}">View all pics taken so far</a>

</div>

<script type="text/javascript">
function success() {
  var message = "Picture taken successfully";
  alert(message);
}
</script>

{% endblock %}



