{% extends "layout.html" %}
{% block title %}Take Pic{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block body %}

<div class="block1">

<a href="/left">Left</a>
<a href="/right">Right</a>
<a href="/up">Up</a>
<a href="/down">Down</a>

<p>When you are happy with the camera location, 
click this button to capture an image!</p>
<a href="{{ url_for('takePic') }}" onClick="success()" >Capture an image</a><br><br>
<a href="{{ url_for('showPics') }}">View all pics taken so far</a>

</div>

<script type="text/javascript">
function success() {
  var message = "Picture taken successfully";
  alert(message);
}
</script>

{% endblock %}



